/* ---------------------------- BUTTONIT --------------------------*/

button {
    background-color: white;
    font-family: "Georgia", serif, serif;
    font-size: 100%;

}

button:hover {
    background-color: mediumaquamarine; /* Muuta taustaväriä, kun hiiri on päällä */
}


/* ---------------------------- TAULUKKO --------------------------*/

table {
    width: 30%;
    background-color: beige;
    border-radius: 10px; /* Reunojen pyöristys */

}



th, td {
    text-align: left; 
    padding: 16px;
    }
    th {
    background-color: goldenrod;
    border-radius: 5%;
    }
    tr:nth-child(even) { 
    background-color: #f2f2f2
    }
    .fixed_header{ 
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
    }
    .fixed_header tbody{ 
    display:block; 
    width: 100%; 
    overflow: auto; 
    height: 350px;
    }
    .fixed_header thead tr { 
    display: block;
    }
    .fixed_header thead { 
    background: black; 
    color:#fff;
    }
    .fixed_header th, .fixed_header td { 
    padding: 10px;
    text-align: left; 
    width: 200px;
    }


/* ---------------------------- MAINAREA/PÄÄIKKUNA --------------------------*/

#mainArea {
    font-family: Arial, sans-serif; /* Fontti */
    font-size: 120%; /* Fonttikoko */
}

#mainArea img {
    width: 30%;
    height: auto;
    border-radius: 10px; /* Reunojen pyöristys */
    margin-top: 1%;
}